# WEBSITE URL
NEXT_PUBLIC_APP_URL="YOUR WEBSITE URL"

# DATABASE
DATABASE_URL="DATABASE URL"

# BETTER AUTH
BETTER_AUTH_SECRET="BETTER AUTH SECRET"
BETTER_AUTH_URL="YOUR WEBSITE URL"

# GITHUB
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# GOOGLE
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# NODEMAILER
EMAIL_USER="EMAIL ACC"
EMAIL_PASS="16 digit app pass"
EMAIL_FROM=""NAME" <xyz@gmail.com>"